* {
	font-size: 12pt;
}

.inpText {
	border: 1px solid #333;
	display: block;
	margin-bottom: 5px;
}

.inpSubmit {
	border: 2px solid gray;
	background-color: green;
	padding: 10px;
	color: #fff;
	font-size: 10pt;
}

h3 {
	color: #666;
	font-size: 14pt;
}

span {
	color: gray;
}

label {
    /* Other styling.. */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}